<!DOCTYPE html>
<html lang="en">
<head>
	<title>Customers</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			font-family: sans-serif;
			padding: 5px;
		}
		table tr:nth-child(even) td {
			background-color: #95c7ea;
		}
	</style>
</head>
<body>
<?php
echo "Hello World!";
?>
</body>
</html>